@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", "Shrikhand", "sans-serif";
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.fa-circle-notch {
  font-size: 3.5rem;
  color: #df6fda;
}

.container-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: #ffffff;
  z-index: 100;
  opacity: 0.8;
  transform-origin: top;
  -webkit-animation-name: spin-loader;
          animation-name: spin-loader;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spin-loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin-loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/****** HEADER *****/
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  margin: auto;
  width: 45%;
  height: auto;
  padding-top: 25px;
}

.localisation-titre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0 0 5px #cecece;
  margin-top: 15px;
}

.paris-belleville {
  font-weight: normal;
  padding-right: 15px;
}

.fa-location-dot {
  padding-right: 15px;
}

/***** BODY *****/
.titre-acceuil {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 30px;
}

.paragraphe-acceuil {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  color: #4d4d4d;
}

.explorer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.explorer-btn:hover {
  transform: scale(1);
  transition: 0.3s;
  opacity: 0.8;
}

.ecriture-btn-explorer {
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  font-size: 1rem;
  border: transparent;
  color: #fff;
  background-color: #df6fda;
  box-shadow: 0 10px 10px 0 #c5c5c5;
  background-image: linear-gradient(to bottom right, #FF79DA 10%, #9356DC);
  cursor: pointer;
}

.color-header {
  background-color: #f6f6f6;
  height: 280px;
}

.fonctionnement {
  text-align: start;
  padding-left: 20px;
  padding-top: 25px;
}

.bloc-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.number-btn {
  color: #fff;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 4%;
}

.btn-acceuil-phrase {
  border: transparent;
  background-color: #f6f6f6;
  color: #000000;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn-acceuil-phrase-bar {
  padding-right: 20px;
  border: transparent;
  background-color: #f6f6f6;
  color: #000000;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn-acceuil-phrase-store {
  padding-right: 15px;
  border: transparent;
  background-color: #f6f6f6;
  color: #000000;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn-acceuil {
  background-color: #f6f6f6;
  color: #777;
  font-size: 1rem;
  width: 90%;
  height: 60px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-acceuil:hover i {
  color: #9356dc;
}

.btn-acceuil:hover input {
  background-color: #f5edff;
}

.btn-acceuil:hover {
  background-color: #f5edff;
}

.fa-mobile-screen-button, .fa-bars, .fa-store {
  padding-right: 40px;
  font-size: 1.1rem;
}

.block-btn-color {
  margin: 0;
  color: transparent;
  font-size: 1.8rem;
}

.titre-restaurant {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
  background-color: #f6f6f6;
}

.new-btn-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #269e80;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  width: 90px;
  height: 30px;
}

.page-acceuil-bloc {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.cards-img-acceuil {
  width: 85%;
  height: 260px;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1803921569);
  cursor: pointer;
  margin-bottom: 25px;
  position: relative;
}

.picture-acceuil {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
}

.sous-titre-cards {
  margin: 0;
  font-size: 1rem;
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
}

.coeur {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  position: relative;
}

.fa-heart {
  font-size: 1.5rem;
  color: #494949;
}

.full-heart {
  position: absolute;
  right: 25px;
  opacity: 0;
  transition-duration: 1s;
  transition-property: all;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation-background-clip: text;
  background-image: linear-gradient(to bottom right, #FF79DA 10%, #9356DC);
}

.fa-heart:hover {
  opacity: 1;
  color: #df6fda;
}

/***** FOOTER *****/
.logo-footer {
  color: #fff;
  padding: 5px;
  margin-left: 15px;
  font-family: "Shrikhand", "sans-serif";
}

.ohmyfood-footer {
  font-family: "Shrikhand", "sans-serif";
  font-weight: lighter;
}

footer {
  margin: 0;
  width: 100%;
  height: 200px;
  background-color: #353535;
}

.footer-list {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.link-footer {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}

.fa-handshake-angle {
  padding-right: 5px;
}

.fa-utensils {
  padding-right: 11px;
}

/****** PAGE MENU 2 3 4 5 ******/
.picture-menu {
  height: 250px;
  width: 100%;
  margin: 0;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.titre-menu {
  -webkit-animation-name: menu-fondu;
          animation-name: menu-fondu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}

.Entree-menu {
  -webkit-animation-name: menu-fondu;
          animation-name: menu-fondu;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}

.Plats-menu {
  -webkit-animation-name: menu-fondu;
          animation-name: menu-fondu;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}

.Desserts-menu {
  -webkit-animation-name: menu-fondu;
          animation-name: menu-fondu;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}

@-webkit-keyframes menu-fondu {
  0% {
    transform: translateY(370px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes menu-fondu {
  0% {
    transform: translateY(370px);
  }
  100% {
    transform: translateY(0px);
  }
}
.logo-menu {
  width: 45%;
  margin: auto;
  padding: 10px;
}

.police-titre-menu {
  font-family: "Shrikhand", "sans-serif";
}

.align-logo {
  display: flex;
  align-items: center;
}

.fa-arrow-left {
  color: black;
  padding-left: 5px;
}

.titre-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 20px;
}

.background-menu {
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -40px;
}

.btn-card-menu {
  width: 95%;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0 5px 5px 0 #e9e9e9;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 0;
}

.menu-card-content {
  width: 100%;
  transition: 0.8s ease-in-out;
  text-overflow: ellipsis;
}

.btn-card-menu:hover strong {
  margin-right: 80px;
}

.menu-animation {
  color: #fff;
  background-color: #99e2d0;
  height: 85px;
  width: 80px;
  position: absolute;
  right: -100px;
  bottom: -9px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.5s;
  transition: 0.8s ease-in-out;
  overflow: hidden;
}

.btn-card-menu:hover .menu-animation {
  right: 0;
  transform: rotate(360deg);
}

.fa-check {
  height: 1.6rem;
  color: #99E2D0;
  background: white;
  border-radius: 50px;
  padding: 4px 5px 4px 5px;
  position: relative;
}

.entree-titre, .plat-titre, .dessert-titre {
  font-size: 1.1rem;
  margin: 0;
  color: #494949;
  font-weight: normal;
  padding-top: 40px;
  margin-left: 20px;
}

.entree-titre:after {
  content: "";
  background: #99e2d0;
  width: 100px;
  height: 3px;
  position: absolute;
  left: 20px;
  top: 65px;
}

.plat-titre:after {
  content: "";
  background: #99e2d0;
  width: 100px;
  height: 3px;
  position: absolute;
  left: 20px;
  top: 65px;
}

.dessert-titre::after {
  content: "";
  background: #99e2d0;
  width: 100px;
  height: 3px;
  position: absolute;
  left: 20px;
  bottom: 250px;
}

.plat-card-menu, .entree-card-menu, .dessert-card-menu {
  margin: 0;
  padding-left: 5px;
  font-size: 1.1rem;
  text-overflow: ellipsis;
}

.accompagnement-menu {
  margin: 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bloc-accompagnement-prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.ecriture-btn-menu {
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  font-size: 1rem;
  border: transparent;
  color: #fff;
  background-color: #df6fda;
  box-shadow: 0 5px 5px 0 #c5c5c5;
  padding-right: 50px;
  padding-left: 50px;
  background-image: linear-gradient(to bottom right, #FF79DA 10%, #9356DC);
}

.commande-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
  opacity: 1;
}

.commande-btn:hover {
  transform: scale(1);
  transition: transform 200ms;
  opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo {
    width: 35%;
  }
  .block-btn-color {
    margin: 5px;
  }
  .color-header {
    height: 160px;
  }
  .paris-belleville {
    font-size: 1rem;
  }
  .titre-acceuil {
    font-size: 1.2rem;
    padding-top: 10px;
  }
  .paragraphe-acceuil {
    font-size: 1rem;
    margin: 10px;
  }
  .ecriture-btn-explorer {
    padding: 10px;
    font-size: 0.7rem;
  }
  .explorer-btn {
    padding-top: 15px;
  }
  .fonctionnement {
    padding-top: 0;
  }
  .number-btn {
    position: absolute;
    left: 25%;
  }
  .bloc-nav {
    row-gap: 25px;
  }
  .btn-acceuil {
    width: 50%;
    height: 40px;
  }
  .page-acceuil-bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .titre-restaurant {
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
  .cards-img-acceuil {
    width: 40%;
    margin: 15px;
  }
  .footer-list {
    text-align: center;
    font-size: 0.9rem;
  }
  .logo-footer {
    font-family: "Shrikhand", "sans-serif";
    font-weight: lighter;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .logo {
    width: 35%;
  }
  .color-header {
    height: 160px;
  }
  .paris-belleville {
    font-size: 1rem;
  }
  .titre-acceuil {
    font-size: 1.1rem;
    padding-top: 10px;
  }
  .paragraphe-acceuil {
    font-size: 1rem;
    margin: 10px;
  }
  .ecriture-btn-explorer {
    padding: 10px;
    font-size: 0.7rem;
  }
  .explorer-btn {
    padding-top: 15px;
  }
  .fonctionnement {
    padding-top: 5px;
    font-size: 1.1rem;
  }
  .number-btn {
    visibility: hidden;
  }
  .bloc-nav {
    flex-direction: row;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .btn-card-menu {
    min-width: 325px;
  }
  .entree-titre:after {
    content: "";
    background: #99e2d0;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 20px;
    top: 65px;
    transition: 0.3s;
  }
  .plat-titre:after {
    content: "";
    background: #99e2d0;
    width: 95px;
    height: 3px;
    position: absolute;
    left: 20px;
    top: 65px;
    transition: 0.3s;
  }
  .dessert-titre:after {
    content: "";
    background: #99e2d0;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 20px;
    top: 65px;
    transition: 0.3s;
  }
  .btn-acceuil {
    width: 22%;
    height: 40px;
    font-size: 0.8rem;
  }
  .btn-acceuil-phrase, .btn-acceuil-phrase-bar, .btn-acceuil-phrase-store {
    font-size: 0.7rem;
  }
  .titre-restaurant {
    padding-top: 20px;
    font-size: 1.1rem;
  }
  .page-acceuil-bloc {
    flex-direction: row;
  }
  .cards-img-acceuil {
    width: 22%;
    margin-bottom: 35px;
  }
  .cards-title {
    font-size: 0.9rem;
  }
  .sous-titre-cards {
    font-size: 0.9rem;
  }
  .picture-menu {
    height: 420px;
  }
  .fa-heart {
    font-size: 1.5rem;
  }
  footer {
    height: 150px;
  }
  .footer-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .link-footer {
    font-size: 0.8rem;
    padding: 20px;
  }
  .logo-footer {
    font-family: "Shrikhand", "sans-serif";
    font-weight: lighter;
    text-align: center;
  }
  /***** MENU ****/
  .responsive-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn-card-menu {
    width: auto;
  }
  .Entree-menu, .Plats-menu, .Desserts-menu {
    width: 30%;
    margin-right: 25px;
  }
  .entree-card-menu, .plat-card-menu, .dessert-card-menu, .accompagnement-menu {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */